* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.navbar {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: rgb(11, 11, 73);

  padding-left: 20vw;
}
.navbar img {
  width: 30px;
  height: 30px;
}
.navbar p {
  color: white;
  margin-top: 3vh;
}
.navbar .a {
  margin-left: 30vw;
}
.navbar .a .fa-brands {
  color: white;
  margin: 0.3rem;
}
.header {
  /* border: 1px solid red; */
  width: 100%;
  height: 10vh;
  display: flex;
}
.logo img {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 3rem;
  transition: transform 2s;
}
.logo img:hover {
  transform: rotateY(360deg);
}
.header .a2 {
  /* border: 1px solid red; */
  display: flex;
  width: 70%;
  height: 9vh;
  margin-left: 15rem;
  padding: 2rem;
  padding-left: 10rem;
  list-style-type: none;
}
.header .a2 li {
  /* border: 1px solid red; */
  width: 95px;
  margin-left: 1rem;
}
.main {
  /* border: 1px solid red; */
  width: 100%;
  height: 65vh;
  background-image: linear-gradient(
    to right,
    rgb(41, 41, 114),
    rgb(161, 161, 243)
  );
  display: flex;
}
.main .metin {
  /* border: 1px solid red; */
  width: 50%;
  height: 35vh;
  margin-top: 10vh;
  margin-left: 10vw;
  color: white;
}
.main .img2 img {
  width: 300px;
  height: 200px;
  margin-top: 5vh;
}
.imge .fa-hand-point-down {
  color: white;
  margin-top: 5vh;
}
.main .site {
  /* border: 1px solid red; */
  margin-top: 5vh;
  width: 70%;
  height: 6vh;
  display: flex;
}
.main .site li {
  border: 1px solid white;
  display: flex;
  width: 50%;
  margin-right: 50px;
  padding-top: 1vh;
  padding-left: 1vw;
}
.main .site li:hover {
  background-color: gold;
}
.main .site li a {
  color: white;
}
.footer {
  text-align: center;
  padding-top: 2vh;
}
.footer p {
  margin-bottom: 2vh;
}
.footer .sonimge {
  border: 1px solid orange;
  width: 5vw;
  height: 5vh;
  border-radius: 10px;
  padding-top: 1vh;
  margin-left: 48vw;
  background-color: bisque;
}
.footer .sonimge:hover {
  border: 1px solid gold;

  background-color: orange;
}
